.sidebar {
  width: 250px;
  background-color: #1a1a1a;
  border-right: 1px solid #333;
  z-index: 2;
}

.nav-link {
  padding: 10px;
  border-radius: 6px;
  transition: 0.2s ease;

  &:hover {
    background-color: #333;
  }
}


@media (max-width: 767px) {
  .sidebar {
    position: absolute;
  }
}