<div class="container py-4 text-white">
  @if (!product()) {
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="spinner-border text-light" role="status"></div>
    </div>
  } @else {
    <a
      (click)="location.back()"
      class="btn btn-outline-light mb-3 d-flex align-items-center gap-2"
      style="width: fit-content"
    >
      ← Back to Products
    </a>

    <div class="row g-4">
      <div class="col-md-6">
        <div class="card bg-dark border-secondary mb-3">
          <img
            [alt]="product()!.title"
            [src]="product()!.thumbnail"
            class="card-img-top main-img"
          >
        </div>

        <div class="d-flex gap-2 flex-wrap">
          @for (img of product()!.images; track $index) {
            <img
              (click)="changeImage(img)"
              [alt]="product()!.title"
              [src]="img"
              class="thumb-img border border-secondary rounded">
          }
        </div>
      </div>

      <div class="col-md-6 d-flex flex-column">
        <h2 class="fw-bold">{{ product()!.title }}</h2>
        <p class="text-light">{{ product()!.description }}</p>
        <h4 class="text-info">{{ product()!.price | currency }}</h4>

        <p>
          <span class="badge text-bg-success">Stock: {{ product()!.stock }}</span>
          <span class="badge text-bg-dark ms-2">⭐ {{ product()!.rating }}</span>
        </p>

        <div class="flex-fill"></div>

        <section class="d-flex align-items-center">
          <span class="me-2">Quantity: </span>
          <input
            [(ngModel)]="quantity"
            [max]="product()!.stock"
            class="form-control page-input"
            min="1"
            type="number"
          />
        </section>

        <button (click)="addToCart()" class="btn btn-primary w-100 mt-3">
          Add to Cart
        </button>
      </div>
    </div>

    <div class="reviews mt-5">
      <h3 class="mb-3">CustomerDetails Reviews</h3>

      @for (review of product()!.reviews; track $index) {
        <div class="card bg-dark border-secondary mb-3 p-3">
          <h5 class="fw-bold text-light mb-1">{{ review.reviewerName }}</h5>
          <small class="text-light">{{ review.date | date }}</small>

          <p class="mt-2 mb-1 text-light">
            ⭐ {{ review.rating }}
          </p>

          <p class="text-light">{{ review.comment }}</p>
        </div>
      }

      @if (!product()!.reviews) {
        <p class="text-muted">No reviews yet.</p>
      }
    </div>
  }
</div>

<app-toast/>
