<section class="container-fluid py-md-2">
  <header class="d-flex justify-content-between p-2 align-items-center">
    <h2 class="h4">Customers</h2>
    <button (click)="addNewCustomer()" class="btn btn-primary">Add New Customer</button>
  </header>
  <app-customer-form
    (submitCustomer)="onCustomerSubmitted($event)"
    [selectedCustomer]="selectedCustomer()!"
  />

  @if (loading()) {
    <div class="d-flex justify-content-center align-items-center vh-100">
      <div class="spinner-border text-light" role="status"></div>
    </div>
  } @else {
    <section class="table-responsive">
      <section class="table-wrapper">
        <table class="table table-dark table-striped table-hover text-center align-middle">
          <thead>
          <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
          </thead>

          <tbody>
            @for (customer of customers(); track customer.id) {
              <tr>
                <td>{{ customer.id }}</td>
                <td>{{ customer.firstName }}</td>
                <td>{{ customer.lastName }}</td>
                <td>{{ customer.age }}</td>
                <td>{{ customer.email }}</td>
                <td>{{ customer.phone }}</td>

                <td>
                  <div class="dropdown">
                    <button class="btn btn-sm btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                      Actions
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark">
                      <li>
                        <a [routerLink]="[customer.id]" class="dropdown-item">View Details</a>
                      </li>
                      <li>
                        <button (click)="editCustomer(customer.id)" class="dropdown-item">Edit</button>
                      </li>
                      <li>
                        <button (click)="deleteCustomer(customer.id)" class="dropdown-item text-danger">
                          Delete
                        </button>
                      </li>
                    </ul>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </section>

      <app-pagination
        (currentPageOutput)="currentPage($event)"
        (pageSizeOutput)="pageSize($event)"
        [totalItems]="customersService.customersCount()"
      />
    </section>
  }
</section>
