.page-size-select {
  width: 80px;
  background: #1e1e1e;
  color: #fff;
  border: 1px solid #444;
}

::ng-deep .pagination {
  gap: 5px;
  margin-bottom: 0;

  .ngb-custom-pages-item, .page-item {
    .page-link, input {
      color: #fff;
      background-color: #1e1e1e;
      border: 1px solid #444;
      user-select: none;
    }
  }
}
