.page-size-select {
  width: 80px;
  background: #1e1e1e;
  color: #fff;
  border: 1px solid #444;
}

.page-input {
  width: 70px;
  background: #1e1e1e;
  color: #fff;
  border: 1px solid #555;
  text-align: center;
}

.btn-outline-light {
  border-radius: 8px;
  border-color: #666;
  color: #eee;
}

.btn-outline-light:hover {
  background: #0d6efd;
  color: #fff;
}
