<header class="d-flex p-3 bg-dark text-white">
  <section>
    <img alt="Logo" class="me-5" height="40" src="/favicon.ico" width="40"/>
  </section>

  <section class="ms-auto d-flex align-items-center">
    @if (!isPathIncludesAdmin()) {
      @if (!isPathIncludesCart()) {
        <a class="btn btn-outline-light position-relative" routerLink="/cart">
          Cart
          <span class="position-absolute top-0 start-100 translate-middle badge bg-danger">
            {{ cartCount() }}
          </span>
        </a>
      } @else {
        <a class="btn btn-outline-light position-relative" routerLink="/products">
          Products
        </a>
      }
    }
    <ng-content></ng-content>

    <section [class.d-none]="isPathIncludesAdmin()" class="d-md-block">
      <app-user-info/>
    </section>

    <button
      (click)="onToggleSidebar()"
      [class.d-none]="!isPathIncludesAdmin()"
      class="btn btn-outline-light d-md-none py-3 ms-3 header-toggler-button"
      type="button"
    >
      <span class="header-toggler-icon"></span>
    </button>
  </section>
</header>
