header {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  .logo img {
    object-fit: contain;
  }

  .dropdown-menu button {
    cursor: pointer;
  }

  .header-toggler-button {
    &:hover {
      .header-toggler-icon {

        &,
        &::before,
        &::after {
          background-color: black;
        }
      }
    }

    .header-toggler-icon {
      position: relative;

      &,
      &::before,
      &::after {
        content: "";
        display: block;
        width: 20px;
        height: 4px;
        background-color: white;
      }

      &::before {
        position: absolute;
        top: 7px;
      }

      &::after {
        position: absolute;
        bottom: 7px;
      }
    }
  }
}