<div
  aria-hidden="true"
  aria-labelledby="addNewCustomerModalLabel"
  class="modal fade"
  data-bs-theme="dark"
  id="addNewCustomerModal"
  tabindex="-1"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNewCustomerModalLabel">
          {{ selectedCustomer() ? 'Edit Customer' : 'Add New Customer' }}
        </h5>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
      </div>

      <div class="modal-body">
        <form (ngSubmit)="onSubmitNewCustomer()" [formGroup]="newCustomerForm">
          <div class="mb-3">
            <label class="form-label" for="firstName">First Name</label>
            <input
              [class.error]="invalidInputs().includes('firstname')"
              class="form-control"
              formControlName="firstName"
              type="text"
            />
          </div>

          <div class="mb-3">
            <label class="form-label" for="lastName">Last Name</label>
            <input
              [class.error]="invalidInputs().includes('lastname')"
              class="form-control"
              formControlName="lastName"
              type="text"
            />
          </div>

          <div class="mb-3">
            <label class="form-label" for="age">Age</label>
            <input
              [class.error]="invalidInputs().includes('age')"
              class="form-control"
              formControlName="age"
              type="number"
            />
          </div>

          <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input
              [class.error]="invalidInputs().includes('email')"
              class="form-control"
              formControlName="email"
              type="email"
            />
          </div>

          <div class="mb-3">
            <label class="form-label" for="phoneNumber">Phone Number</label>
            <input
              [class.error]="invalidInputs().includes('phone')"
              class="form-control"
              formControlName="phone"
              type="tel"
            />
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" data-bs-dismiss="modal" type="reset">Cancel</button>
            <button class="btn btn-success" type="submit">
              {{ selectedCustomer() ? 'Update Customer' : 'Add Customer' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
