@if (isLoading) {
  <div class="d-flex justify-content-center align-items-center vh-100">
    <div class="spinner-border text-light" role="status"></div>
  </div>
} @else {
  <div class="container my-4">
    <section class="card shadow-sm">
      <header class="card-header bg-dark text-white">
        <h2 class="h5 mb-0">Customer Details</h2>
      </header>

      <div class="card-body bg-dark text-light">
        <article class="row mb-3">
          <div class="col-md-6">
            <h3 class="h6 text-light">User ID</h3>
            <p class="fw-semibold">{{ customer!.id }}</p>
          </div>
          <div class="col-md-6">
            <h3 class="h6 text-light">Age</h3>
            <p class="fw-semibold">{{ customer!.age }}</p>
          </div>
        </article>

        <article class="row mb-3">
          <div class="col-md-6">
            <h3 class="h6 text-light">First Name</h3>
            <p class="fw-semibold">{{ customer!.firstName }}</p>
          </div>
          <div class="col-md-6">
            <h3 class="h6 text-light">Last Name</h3>
            <p class="fw-semibold">{{ customer!.lastName }}</p>
          </div>
        </article>

        <article class="row mb-3">
          <div class="col-md-6">
            <h3 class="h6 text-light">Email</h3>
            <p class="fw-semibold">{{ customer!.email }}</p>
          </div>
          <div class="col-md-6">
            <h3 class="h6 text-light">Phone Number</h3>
            <p class="fw-semibold">{{ customer!.phone }}</p>
          </div>
        </article>
      </div>

      <footer class="card-footer bg-dark text-end">
        <a class="btn btn-secondary me-2" routerLink="../">Back</a>
        <button (click)="openCustomerModal()" class="btn btn-primary">Edit Customer</button>
      </footer>
    </section>
  </div>
}
