<div class="modal-header">
  <h5 class="modal-title">{{ product ? 'Edit' : 'Add New' }} Product</h5>
  <button (click)="ngbActiveModal.dismiss()" class="btn-close" type="button"></button>
</div>

<div class="modal-body">
  <form [formGroup]="productForm">
    <div class="mb-3">
      <label class="form-label" for="firstName">Product Title</label>
      <input
        class="form-control"
        formControlName="title"
        type="text"
      />
      @if (productForm.controls.title.dirty && productForm.controls.title.errors?.['required']) {
        <span class="text-danger">This input is required</span>
      }
    </div>

    <div class="mb-3">
      <label class="form-label" for="lastName">Product Description</label>
      <input
        class="form-control"
        formControlName="description"
        type="text"
      />
      @if (productForm.controls.description.dirty && productForm.controls.description.errors?.['required']) {
        <span class="text-danger">This input is required</span>
      }
    </div>

    <div class="mb-3">
      <label class="form-label" for="age">Price</label>
      <input
        class="form-control"
        formControlName="price"
        min="1"
        type="number"
      />
      @if (productForm.controls.price.dirty && productForm.controls.price.errors?.['required']) {
        <span class="text-danger">This input is required</span>
      }
      @if (productForm.controls.price.dirty && productForm.controls.price.errors?.['min']) {
        <span class="text-danger">Invalid price. Please enter a value greater than 1</span>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Stock</label>
      <input
        class="form-control"
        formControlName="stock"
        type="number"
      />
      @if (productForm.controls.stock.dirty && productForm.controls.stock.errors?.['required']) {
        <span class="text-danger">This input is required</span>
      }
      @if (productForm.controls.stock.dirty && productForm.controls.stock.errors?.['min']) {
        <span class="text-danger">Invalid stock. Please enter a value greater than 1</span>
      }
    </div>

    <div class="mb-3">
      <label class="form-label">Image</label>
      <input
        (change)="onFileSelected($event)"
        accept="image/*"
        class="form-control"
        type="file"
      />

      @if (imagePreview) {
        <div class="mt-2 text-center">
          <img
            [src]="imagePreview"
            alt="Product Image Preview"
            class="img-thumbnail"
            style="max-width: 200px; max-height: 200px"
          />
        </div>
      }
    </div>
  </form>
</div>

<div class="modal-footer">
  <button (click)="ngbActiveModal.dismiss()" class="btn btn-secondary" type="button">Cancel</button>
  <button (click)="save()" class="btn btn-success" type="button">{{ product ? 'Update' : 'Add' }} Product</button>
</div>
